[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = essrv

[v3_req]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = essrv01
DNS.2 = essrv02
DNS.3 = essrv03
IP.1 = 192.168.50.21
IP.2 = 192.168.50.22
IP.3 = 192.168.50.23
