# elasticsearch.service.j2
[Unit]
Description=Elasticsearch
Documentation=https://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ es_user }}
Group={{ es_group }}
RuntimeDirectory=elasticsearch
WorkingDirectory={{ es_home }}
ExecStart={{ es_home }}/bin/elasticsearch/bin/elasticsearch 
Environment=ES_HOME={{ es_home }}
#Environment=ES_JAVA_OPTS="-Xms{{ JVM_MEMORY }} -Xmx{{ JVM_MEMORY }}"
Environment=ES_PATH_CONF={{ es_conf_dir }}
Environment=PID_DIR=/var/run/elasticsearch
Environment=ES_SD_NOTIFY=true
Restart=always
LimitNOFILE=65535
LimitNPROC=4096
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
