# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most important settings you may want to configure for a production cluster.
#
# Please consult the documentation for further information on configuration options:
# https://www.elastic.co/guide/en/elasticsearch/reference/index.html
#
# ---------------------------------- Cluster -----------------------------------
cluster.name: {{ cluster_name }}

# ------------------------------------ Node ------------------------------------
node.name: {{ node_name }}
node.roles: {{ node_roles }}
#node.attr.rack: r1

# ----------------------------------- Paths ------------------------------------
path.data: {{ es_data_dir }}
path.logs: {{ es_logs_dir }}
path.repo: {{ es_repo_dir }}
# ----------------------------------- Memory -----------------------------------
bootstrap.memory_lock: {{ memory_lock }}

# ---------------------------------- Network -----------------------------------
network.bind_host: {{ network_host }}

http.host: {{ http_host }}
http.port: {{ http_port }}

transport.host: {{ transport_host }}
transport.port: {{ transport_port }}

# --------------------------------- Discovery ----------------------------------
discovery.seed_hosts: [{{ host1 }}, {{ host2 }},{{ host3 }}]
cluster.initial_master_nodes: [{{ initial_master1 }}, {{ initial_master2 }}]

# ---------------------------------- Various -----------------------------------
#action.destructive_requires_name: false

# -------------------------------- Thread Pool ---------------------------------
thread_pool.search.queue_size: {{ thread_pool_search_queue_size }}
thread_pool.write.queue_size: {{ thread_pool_write_queue_size }}

# ------------------------------ X-Pack ----------------------------------------
xpack.security.enabled: {{ xpack_enabled }}
xpack.security.http.ssl.enabled: {{ http_ssl_enabled }}
xpack.security.http.ssl.certificate_authorities: {{ http_ssl_ca }}
xpack.security.http.ssl.certificate: {{ http_ssl_cert }}
xpack.security.http.ssl.key: {{ http_ssl_key }}
xpack.security.transport.ssl.enabled: {{ transport_ssl_enabled }}
xpack.security.transport.ssl.verification_mode: {{ transport_ssl_verification_mode }}
xpack.security.transport.ssl.certificate_authorities: {{ transport_ssl_ca }}
xpack.security.transport.ssl.certificate: {{ transport_ssl_cert }}
xpack.security.transport.ssl.key: {{ transport_ssl_key }}


